

<div class="container">

<div class="text-center m-5">
    <hr>
    <h1>
        {{ titulo }}
    </h1>
    <hr>

<ul>
    <li><h3>{{ nombre }}</h3></li>
    <li><h3>{{ email }}</h3></li>
</ul>

<style>

body{
    background-image:url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-optoelectronics-background-backgroundtechnical-materialtechnology-backgroundarrowbackground-image_72733.jpg);
    background-attachment: fixed;
}

footer{
     background-image:url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-optoelectronics-background-backgroundtechnical-materialtechnology-backgroundarrowbackground-image_72733.jpg);
}

nav{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-optoelectronics-background-backgroundtechnical-materialtechnology-backgroundarrowbackground-image_72733.jpg);
}


</style>

</div>
<div class="row featurette">
      <div class="col-md-7 order-md-2" class="float:left;">
        <h2 class="texto-imagen">Gracias por las suscripción! <span class="text-muted">Espero Gustes de Formar parte de esta familia!</span></h2>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://img.freepik.com/fotos-premium/zapatillas-deportivas-azules-sobre-fondo-azul-zapateria-concepto-compras-calzado-entrenar-calzado-atletico-correr-par-comodos-zapatos-deportivos_474717-34317.jpg?w=2000"  class="foto-final" alt="Zapatillas" width="1300px">
      </div>
    </div>

</div>