


<footer class="container-fluid p-5 bg-dark text-white">
    <p>&copy: 2022 - Desarrollado por Pedro Saavedra - UTN </p>
    <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/pepe_saavedra1/">instagram<svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
</footer>